<div class="AdminVipsPartial">
     <table>
          <thead>
               <tr>
                    <td> <img src="/images/vips.png" alt="oups"> </td>
               </tr>
          </thead>
          <tbody>
               <tr>
                    <td class="traitHorizontal"><a href="/administration/vips/ajoutVipTest" >Ajouter</a></td>
               </tr>
               <tr>
                    <td class="traitHorizontal"><a href="/administration/vips/modifVipTest" >Modifier</a></td>
               </tr>
               <tr>
                    <td class="traitHorizontal"><a href="/administration/vips/SupprimerVipTest" >Supprimer</a></td>
               </tr>
          </tbody>
     </table>

</div>
